<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Студент в 33
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <h1>Привет, друг.</h1>
              <p>Если ты <b>это</b> видишь, значит я не зря прошел этот долгий путь. </p>
              <p>Меня зовут <b>Никита</b>, я студент Яндекс Практикум факультета Бэкэнд. Когорта 15<br>
                  <em>...продолжение допишу на каникулах...</em></p>
            <!-- <p><img src="/media/about/cut_photo.jpg/" alt="Так вы меня привыкли видеть"
                      width="200" height="200" title=" Скорее всего вы видели эту аву в слаке"></p> -->

          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
